# env support
python-dotenv

# streamlit
streamlit
matplotlib

# llama-stack & embeddings
llama-stack-client==0.2.15
docling==2.43.0

# for local whisper support
numpy
torch==2.8.0
torchcodec==0.6.0
torchaudio==2.8.0
torchvision==0.23.0
transformers

# hugging face hub
huggingface_hub
